<h1>Listing Users</h1>
<%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>



  <tr>
    <td><%= "#{user.name} " %></td>
    <td><%= user.email%></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
    <td style="background: green"> <%=  image_tag  "/uploads/user/resume/#{user.id}/Tanzeem Akhtar Bhatti.jpg" ,:width =>"200" , :height=>"200" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Person', new_user_path %>
