<div id="container-main-login">
  <div id="container-header-login">
    <div id="container-heading"><span id="span">Forgot your password?</span></div>
    <div id="container-login-controlls">
      <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
          <%= devise_error_messages! %>
          <div class="row">
            <div class="span4">
              <div class="well" style="height: 150px;">
                <div class="pull-left" style="width: auto; margin-right: 20px;">
                  <div class="control-group">
                    <label class="control-label">Email</label>
                    <div class="controls">
                      <%= f.email_field :email, :autofocus => true %>
                    </div>
                  </div>


                  <div class="control-group">
                    <div><%= f.submit "Send" ,:class=>"btn btn-danger" %></div>
                  </div>

                  <div class="control-group">
                    <%= render "devise/shared/links" %>
                  </div>
                </div>

              </div>
            </div>

          </div>

      <% end %>
    </div>
  </div></div></div>

