<!DOCTYPE html>
<html>
<head>
  <title>TalentManager</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "home/user_management", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="container-main">
  <div id="container-header">
    <div id="container-logo">
      <%= image_tag "tm.png" %>
    </div>
    <%= render 'layouts/header'%>
  </div>
  <div id="container-main-content">
    <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
  </div>
  <div id="container-footer">
    <%= render 'layouts/footer'%>
  </div>

</div>

</body>
</html>
